<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Recognition Software Development</title>
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <header>

    </header>
    <main>
        <section class="about">
            <h2>Thư viện và công cụ hỗ trợ</h2>
            <h3>Thiết kế hệ thống bằng ngôn ngữ python</h3>
            <div class="content-container">
                <img src="../img/11.png" class="imagee">
                <p>
                    Keras là một thư viện Python dành cho việc học sâu bao gồm các thư viện số mạnh mẽ Theano và
                    TensorFlow.<br>
                    Một vấn đề khó khăn khi mạng lưới thần kinh truyền thống thất bại được gọi là nhận dạng đối tượng.
                    Đó là nơi người mẫu có thể xác định các đối tượng trong hình ảnh.
                </p>

            </div>
        </section>
        <section class="about">
            <h3>Mô tả vấn đề CIFAR-10</h3>
            <div class="content-container">
                <p>
                    Bộ dữ liệu CIFAR-10 bao gồm 60.000 ảnh được chia thành 10 lớp (do đó có tên CIFAR-10). Các lớp bao
                    gồm các đồ vật thông thường như máy bay, ô tô, chim, mèo, v.v. Tập dữ liệu được phân chia theo cách
                    tiêu chuẩn, trong đó 50.000 hình ảnh được sử dụng để đào tạo mô hình và 10.000 hình ảnh còn lại để
                    đánh giá hiệu suất của mô hình.<br>

                    Các bức ảnh có màu với các thành phần màu đỏ, xanh lá cây và xanh lam nhưng có kích thước nhỏ, hình
                    vuông có kích thước 32 x 32 pixel.<br>
                </p>
                <img src="../img/18.png" class="imagee">
            </div>
        </section>

        <section class="about">
            <h3>Đang tải bộ dữ liệu CIFAR-10 trong Keras</h3>
            <div class="content-container">
                <img src="../img/12.png" class="imagee">
                <p>
                    Bộ dữ liệu CIFAR-10 có thể dễ dàng được tải vào Keras.<br>

                    Tập dữ liệu được lưu trữ dưới dạng tập huấn luyện và tập kiểm tra đã được chọn lọc, sẵn sàng để sử
                    dụng trong Keras. Mỗi hình ảnh được biểu diễn dưới dạng ma trận ba chiều, với các kích thước là đỏ,
                    lục, lam, chiều rộng và chiều cao.<br>

                    Việc chạy mã sẽ tạo ra một ô ảnh 3 × 3. Các hình ảnh đã được phóng to từ kích thước nhỏ 32×32 nhưng
                    bạn có thể thấy rõ xe tải, ngựa và ô tô. Bạn cũng có thể thấy một số biến dạng ở một số hình ảnh bị
                    ép ở tỷ lệ khung hình vuông.<br>

                </p>

            </div>
        </section>

        <section class="about">
            <h3>Mạng nơ-ron tích chập đơn giản cho CIFAR-10</h3>
            <div class="content-container">
                <p>
                    - Kiến trúc mạng này được gọi là "sequential", tức là các lớp được xếp chồng lên nhau theo một trình
                    tự cố định. Dưới đây là chi tiết về từng lớp:<br>

                    1. Conv2d (Conv2D): Lớp tích chập,  mỗi lớp tạo ra 32 bản đồ đặc trưng.<br>

                    2. Dropout (Dropout): Lớp giảm thiểu quá khớp bằng cách bỏ qua ngẫu nhiên một số nút.<br>

                    3. Conv2d_1 (Conv2D):  Lớp giảm kích thước bản đồ đặc trưng bằng cách lấy giá trị lớn nhất.<br>

                    4.Max_pooling2d (MaxPooling2D): Chuyển đổi đầu vào thành vector một chiều.<br>

                    5. Flatten (Flatten):  Lớp làm phẳng đầu vào để chuẩn bị cho các lớp kết nối đầy đủ.<br>

                    6. Dense (Dense): Là một lớp kết nối đầy đủ (fully connected layer) với 512 nút.<br>

                    7. Dropout_1 (Dropout): Một lớp Dropout khác để ngăn chặn quá khớp sau lớp dense.<br>

                    8. Dense_1 (Dense): Một lớp kết nối đầy đủ khác với 10 nút, thường được sử dụng cho lớp đầu ra của
                    một mô hình phân loại, với số lượng nút tương ứng với số lớp cần dự đoán.<br>

                </p>
                <img src="../img/13.png" class="imagee">

            </div>
        </section>
    </main>
    <footer>

    </footer>
</body>