<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Recognition Software Development</title>
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <header>
    
    </header>
    <main>
        <section class="about">
            <h2>Thư viện và công cụ hỗ trợ</h2>
            <h3>Thiết kế hệ thống bằng ngôn ngữ python</h3>
            <div class="content-container">
                <img src="../img/11.png" class="imagee">
                <p>
                    Keras là một thư viện Python dành cho việc học sâu bao gồm các thư viện số mạnh mẽ Theano và
                    TensorFlow.<br>
                    Một vấn đề khó khăn khi mạng lưới thần kinh truyền thống thất bại được gọi là nhận dạng đối tượng.
                    Đó là nơi người mẫu có thể xác định các đối tượng trong hình ảnh.
                </p>
                
            </div>
        </section>
        <section class="about">
            <h3>Mô tả vấn đề CIFAR-10</h3>
            <div class="content-container">
                <p>
                    Bộ dữ liệu CIFAR-10 bao gồm 60.000 ảnh được chia thành 10 lớp (do đó có tên CIFAR-10). Các lớp bao gồm các đồ vật thông thường như máy bay, ô tô, chim, mèo, v.v. Tập dữ liệu được phân chia theo cách tiêu chuẩn, trong đó 50.000 hình ảnh được sử dụng để đào tạo mô hình và 10.000 hình ảnh còn lại để đánh giá hiệu suất của mô hình.<br>

                    Các bức ảnh có màu với các thành phần màu đỏ, xanh lá cây và xanh lam nhưng có kích thước nhỏ, hình vuông có kích thước 32 x 32 pixel.<br>
                </p> 
                <img src="../img/18.png" class="imagee">   
            </div>
        </section>

        <section class="about">
            <h3>Đang tải bộ dữ liệu CIFAR-10 trong Keras</h3>
            <div class="content-container">
                <img src="../img/12.png" class="imagee"> 
                <p>
                    Bộ dữ liệu CIFAR-10 có thể dễ dàng được tải vào Keras.<br>

                    Tập dữ liệu được lưu trữ dưới dạng tập huấn luyện và tập kiểm tra đã được chọn lọc, sẵn sàng để sử dụng trong Keras. Mỗi hình ảnh được biểu diễn dưới dạng ma trận ba chiều, với các kích thước là đỏ, lục, lam, chiều rộng và chiều cao.<br>

                    Việc chạy mã sẽ tạo ra một ô ảnh 3 × 3. Các hình ảnh đã được phóng to từ kích thước nhỏ 32×32 nhưng bạn có thể thấy rõ xe tải, ngựa và ô tô. Bạn cũng có thể thấy một số biến dạng ở một số hình ảnh bị ép ở tỷ lệ khung hình vuông.<br>

                </p>   
                
            </div>
        </section>

        <section class="about">
            <h3>Mạng nơ-ron tích chập đơn giản cho CIFAR-10</h3>
            <div class="content-container">
                <p>
                   - Vấn đề CIFAR-10 được giải quyết tốt nhất bằng cách sử dụng mạng nơ ron tích chập (CNN).<br>

                   - Bạn sẽ sử dụng cấu trúc có hai lớp tích chập, sau đó là tổng hợp tối đa và làm phẳng mạng thành các lớp được kết nối đầy đủ để đưa ra dự đoán.<br>
                    
                   - Cấu trúc mạng cơ sở có thể được tóm tắt như sau:<br>
                    
                    1. Lớp đầu vào tích chập, 32 bản đồ đặc trưng với kích thước 3×3, chức năng kích hoạt bộ chỉnh lưu và giới hạn trọng lượng của định mức tối đa được đặt thành 3<br>

                    2. Tỷ lệ bỏ học được đặt thành 20%<br>

                    3. Lớp tích chập, 32 bản đồ đặc trưng với kích thước 3 × 3, chức năng kích hoạt bộ chỉnh lưu và giới hạn trọng số của định mức tối đa được đặt thành 3<br>

                    4.Lớp Pool tối đa có kích thước 2 × 2<br>

                    5. Làm phẳng lớp<br>

                    6. Lớp được kết nối đầy đủ với 512 đơn vị và chức năng kích hoạt bộ chỉnh lưu<br>

                    7. Tỷ lệ bỏ học được đặt thành 50%<br>

                    8. Lớp đầu ra được kết nối đầy đủ với 10 đơn vị và chức năng kích hoạt softmax<br>

                   - Cấu trúc mạng được tóm tắt để xác nhận rằng thiết kế đã được triển khai chính xác.<br>

                </p>   
                <img src="../img/13.png" class="imagee">
                
            </div>
        </section>
    </main>
    <footer>
       
    </footer>
</body>