<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Recognition Software Development</title>
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <header>
        <!-- <div class="tieu-de">
            <h1>Phát triển phần mềm nhận dạng ảnh dùng AI</h1>
        </div> -->
    </header>

    <main>
        <section class="about">
            <div class="info">
                <h2>Convolutional Neural Network là gì?</h2>
                <p>
                    - Convolutional Neural Network là một trong những mô hình Deep Learning tiên tiến giúp cho chúng ta
                    xây
                    dựng được những hệ thống thông minh với độ chính xác cao.<br>
                    - Do sử dụng các lớp liên kết đầy đủ giữa các điểm ảnh và node , các mạng nơ-ron nhân tạo truyền
                    thẳng
                    thường bị hạn chế bởi kích thước của ảnh , ảnh càng lớn thì số lượng liên kết càng tăng nhanh kéo
                    theo
                    sự bùng nổ khối lượng tính toán.<br>
                    - Sự liên kết đầy đủ này cũng là sự dư thừa với mỗi bức ảnh , các thông tin chủ yếu thể hiện qua sự
                    phụ
                    thuộc giữa các điểm ảnh với những điểm xung quanh nó mà không quan tâm nhiều đến các điểm ảnh ở cách
                    xa
                    nhau.<br>
                    => Mạng CNN ra đời với kiến trúc thay đổi , có khả năng xây dựng liên kết chỉ sử dụng một phần cục
                    bộ
                    trong ảnh kết nối đến node trong lớp tiếp theo thay vì toàn bộ ảnh như trong mạng nơ-ron truyền
                    thẳng.<br>
                    - Các lớp cơ bản trong một mạng CNN bao gồm : lớp tích chập (Convolutional), lớp lấy mẫu (Pooling)
                    và
                    lớp kết nối đầy đủ (Full-connected) :<br>
                    <img src="../img/3.png" class="img">
                </p>
            </div>
        </section>


        <section class="about">
            <div class="info">
                <h2>Fully connected layer</h2>
                <p>
                    Sau khi ảnh được truyền qua nhiều convolutional layer và pooling layer thì model đã học được
                    tương đối các đặc điểm của ảnh thì tensor của output của layer cuối cùng sẽ được là phẳng thành
                    vector và đưa vào một lớp được kết nối như một mạng nơ-ron. Với FC layer được kết hợp với các
                    tính năng lại với nhau để tạo ra một mô hình. Cuối cùng sử dụng softmax hoặc sigmoid để phân
                    loại đầu ra.<br>
                    <img src="../img/6.png" class="img">
                </p>
            </div>
        </section>

        <section class="about">
            <div class="info">
                <h2>Ý tưởng xây dựng Convolutional Neural Network</h2>
                <h3>Trường tiếp nhận cục bộ (Local receptive field)</h3>
                <p>
                    - Trong mạng Neural Convolutional (CNN), trường tiếp nhận cục bộ (local receptive field) đề cập đến
                    phạm
                    vi không gian trên ảnh đầu vào mà mỗi neuron trong tầng convolutional kết nối đến. Mỗi neuron trong
                    tầng
                    convolutional chỉ kết nối với một phần nhỏ của ảnh đầu vào thay vì kết nối với toàn bộ ảnh. Đây
                    chính là
                    trường tiếp nhận cục bộ của neuron.<br>
                    - Khi áp dụng phép tích chập lên ảnh đầu vào, các neuron trong tầng convolutional chỉ xử lý thông
                    tin từ
                    một phần nhỏ của ảnh, đóng vai trò như một khu vực cục bộ. Qua đó, mỗi neuron có thể tập trung vào
                    việc
                    nhận diện các đặc trưng cục bộ. Chẳng hạn như cạnh, góc hoặc texture trong ảnh một cách hiệu quả.
                    <br>

                </p>
                <h3>Trọng số chia sẻ (Shared weight and bias)</h3>
                <p>
                    - Trọng số chia sẻ (shared weights) được áp dụng cho các bộ lọc (filters) sử dụng trong tầng
                    convolutional của mạng. Ý tưởng chính là các neuron trong cùng một tầng convolutional sử dụng cùng
                    một
                    bộ lọc để thực hiện phép tích chập trên đầu vào. Tương tự, trọng số chia sẻ cũng được áp dụng cho
                    bias.
                    <br>
                    <img src="../img/15.png" class="img">
                </p>
                <h3>Lớp tổng hợp (Pooling layer)</h3>
                <p>
                    - Lớp tổng hợp (Pooling layer) là một phần quan trọng của kiến trúc CNN. Nền tảng được sử dụng để
                    giảm
                    kích thước của Feature map (bản đồ đặc trưng) tạo ra từ tầng convolutional.<br>
                    - Lớp tổng hợp thường được sử dụng sau mỗi tầng convolutional để giảm chiều dài yêu của dữ liệu,
                    giảm độ
                    phức tạp tính toán và tạo ra tính bất biến đối với sự thay đổi nhỏ trong dữ liệu đầu vào. <br>
                    <img src="../img/16.png" class="img">
                    - Có hai loại tổng hợp phổ biến được sử dụng trong CNN là: <br>
                    * Max Pooling: Trong tầng tổng hợp theo phương thức này, giá trị lớn nhất trong một vùng cụ thể của
                    Feature map được chọn để tạo ra Feature map mới với kích thước giảm xuống. <br>
                    * Average Pooling: Trong tầng tổng hợp theo phương thức này, giá trị trung bình của một vùng cụ thể
                    của
                    Feature map được lấy để tạo ra Feature map mới. <br>
                </p>
            </div>
        </section>
        <section class="about">
            <div class="info">
                <h2>Cách chọn tham số cho CNN</h2>
                <p>
                    - Khi chọn tham số cho mạng Neural Convolutional (CNN), người thực hiện nên xác định quy trình chung
                    để
                    điều chỉnh và tối ưu hóa hiệu suất của mô hình. Dưới đây là một số phương pháp thường được sử
                    dụng:<br>
                    <img src="../img/17.png" class="img">
                    - Kiến trúc mô hình: Lựa chọn kiến trúc mô hình phù hợp với bài toán cụ thể, bao gồm số lớp
                    convolutional,
                    số lớp tổng hợp, số lượng neuron trong các lớp fully connected, kích thước và bước nhảy của bộ lọc
                    và
                    các kỹ thuật như dropout và batch normalization.<br>
                    - Tốc độ học (learning rate): Điều chỉnh tốc độ học cực kỳ quan trọng để đảm bảo rằng mô hình hội tụ
                    đúng
                    cách mà không bị quá fitting hoặc underfitting.<br>
                    - Thuật toán tối ưu hóa: Sử dụng các thuật toán tối ưu hóa như Adam, SGD, RMSprop để điều chỉnh việc
                    cập
                    nhật trọng số trong quá trình huấn luyện.<br>
                    - Kích thước batch: Lựa chọn kích thước batch phù hợp, đảm bảo cân bằng giữa việc cập nhật trọng số
                    và
                    tài
                    nguyên tính toán.<br>
                    - Hàm kích hoạt: Sử dụng hàm kích hoạt phù hợp như ReLU, Sigmoid, Tanh, hoặc Leaky ReLU để tối ưu
                    hóa
                    việc
                    lan truyền ngược và đảm bảo tính phi tuyến của mô hình.<br>
                    - Khởi tạo trọng số: Lựa chọn phương pháp khởi tạo trọng số ban đầu như Xavier, He, Glorot để đảm
                    bảo
                    việc
                    huấn luyện hiệu quả. <br>
                    - Kiểm tra và đánh giá: Sử dụng các kỹ thuật kiểm tra và đánh giá như cross-validation, early
                    stopping
                    để
                    đảm bảo mô hình không bị overfitting và có khả năng tổng quát hóa tốt trên dữ liệu kiểm tra.<br>
                </p>
            </div>
        </section>
        </section>
    </main>
    <footer>
        <p></p>
    </footer>
</body>