@import "https://fonts.googleapis.com/css?family=Raleway:100,400,700";

@font-face {
    font-family: 'LMRomanSlant10';
    src: url("fonts/lmromanslant10-regular-webfont.eot");
    src: url("fonts/lmromanslant10-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/lmromanslant10-regular-webfont.woff") format("woff"), url("fonts/lmromanslant10-regular-webfont.ttf") format("truetype"), url("fonts/lmromanslant10-regular-webfont.svg#latin_modern_roman_slante10Rg") format("svg");
    font-weight: normal;
    font-style: normal
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

body {
    background-color: #fff;
    font-size: 16px;
    line-height: 1.6;
    font-family: "LMRomanSlant10", serif;
    color: #111;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%
}

@media (max-width: 415px) {
    body {
        font-size: 14px
    }
}


body {
    -webkit-tap-highlight-color: #FFF498
}

h6 {
    color: #222;
    font-weight: bold
}

.gigantic {
    font-size: 110px;
    line-height: 1.09;
    letter-spacing: -2px
}

.huge,
h1 {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 42px;
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 100;
}

.large,
h2 {
    font-size: 42px;
    line-height: 1.14
}

.bigger,
h3 {
    font-size: 26px;
    line-height: 1.38
}

.big,
h4 {
    font-size: 22px;
    line-height: 1.38
}

#introduce {
    position: relative;
    width: 1440px;
    max-width: 95%;
    height: 600px;
    margin: 30px auto;
    background-color: #efefef;
    overflow: hidden
}

#introduce .wrapper {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 1180px;
    max-width: 95%;
    height: 100%;
    margin: 0 auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

#introduce .wrapper .Content {
    width: 45%
}

#introduce .wrapper .Content:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 70px;
    background-color: #111
}

#introduce .wrapper .Content h2 {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 42px;
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 100
}

/* @media (max-width: 640px) {
    #introduce .wrapper .Content h2 {
        margin-bottom: 20px;
        font-size: 30px
    }
    
} */

#introduce .wrapper .Content p {
    max-width: 400px;
    margin-bottom: 30px;
    font-style: italic;

}

#introduce .wrapper .introduce {
    width: 55%
}

#introduce .wrapper .introduce img {
    width: 100%
}

#about {
    position: relative;
    width: 1440px;
    max-width: 95%;
    height: 600px;
    margin: 30px auto;
    background-color: #efefef;
    overflow: hidden
}


#about .wrapper {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 1180px;
    max-width: 95%;
    height: 100%;
    margin: 0 auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

#about .wrapper .camera {
    width: 80%;
    position: relative;
    overflow: hidden;
    display: block;
}

.zoom-container {
    position: relative;
    display: block;
    width: 100%;
}

.zoom-container img {
    display: block;
    width: 100%;
    transition: transform 0.5s ease;
}

.section-img {
    width: 100%;
    transition: transform 0.5s ease;
}


.learn-more-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-77%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease;
    background-color: white;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: math;
    font-weight: bold;
    z-index: 1;
}

.zoom-container:hover img {
    transform: scale(1.1);
}

.zoom-container:hover .learn-more-btn {
    display: block;
    opacity: 1;
}


#about .wrapper .camera img {
    width: 90%
}

#about .wrapper .blurb {
    width: 45%
}

#about .wrapper .blurb h2 {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 42px;
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 100
}


#about .wrapper .blurb h2:before {
    content: "";
    position: relative;
    bottom: 15px;
    display: inline-block;
    width: 70px;
    height: 1px;
    margin-right: 30px;
    background-color: #111
}

#about .wrapper .blurb p {
    max-width: 600px;
    margin-bottom: 45px;
    font-style: italic;
}




#featured {
    position: relative;
    width: 1440px;
    max-width: 95%;
    height: 600px;
    margin: 30px auto;
    background-color: #efefef;
    overflow: hidden;
    display: block;
}


#featured .wrapper {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 1180px;
    max-width: 93%;
    height: 100%;
    margin: 0 auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

#featured .wrapper .blurb {
    width: 65%
}

#featured .wrapper .blurb:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 70px;
    background-color: #111
}

#featured .wrapper .blurb h2 {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 42px;
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 100
}


#featured .wrapper .blurb p {
    max-width: 400px;
    margin-bottom: 30px;
    font-style: italic;

}

#featured .wrapper .featured {
    width: 80%;

}

#featured .wrapper .featured img {
    width: 90%
}

/* theory */
.about {
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    max-width: 95%;
    margin: 30px auto;
    background-color: #efefef;
    overflow: hidden
}

.info p {
    line-height: 30px;
    font-size: 17px;
}

.img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 10px;
}

/* sup_lib */
.content-container {
    display: flex;
    justify-content: space-between;
}

.content-container p {
    line-height: 30px;
    width: 50%;
    text-align: left;
}

.content-container .imagee {
    margin: 15px;
    border-radius: 10px;
    width: 50%;
    text-align: right;
}


@media (max-width: 400px) {
    #introduce {
        height: auto;
    }

    #introduce .wrapper {
        flex-direction: column;
    }

    #introduce .wrapper .Content {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 340px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
        text-align: center;
    }

    #introduce .wrapper .Content:after {
        display: none
    }

    #introduce .wrapper .Content p {
        margin-bottom: 0
    }

    #introduce .wrapper .introduce img {
        margin-top: 10px;
        width: 100%;
    }

    .huge,
    h1 {
        margin-bottom: 2px;
    }

    /* about */


    #about {

        height: auto;
    }

    #about .wrapper {
        flex-direction: column-reverse;
        padding: 10px;
    }

    #about .wrapper .blurb {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 340px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
        text-align: center;
    }

    #about .wrapper .blurb h2:before {
        display: none;
    }

    #about .wrapper .blurb p {
        margin: auto;
    }

    #about .wrapper .blurb h2 {
        margin: auto;
        padding: 20px;
        margin-bottom: 2px;
    }

    #about .wrapper .camera img {
        width: 100%;
        margin-top: 10px;
    }

    /* featured */

    #featured {
        height: auto;
    }

    #featured .wrapper {
        flex-direction: column;
        padding: 10px;
    }

    #featured .wrapper .blurb {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 340px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
        text-align: center;
    }

    #featured .wrapper .blurb:after {
        display: none
    }

    #featured .wrapper .blurb p {
        margin-bottom: 0
    }

    #featured .wrapper .featured img {
        width: 100%;
        margin: 10px auto;
        display: block;
    }

    #featured .wrapper .blurb h2 {
        margin-top: 0;
        margin-bottom: 2px;
        font-size: 42px;
        font-family: "Raleway", Helvetica, sans-serif;
        font-weight: 100;
    }

    .learn-more-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.5s ease;
        background-color: white;
        padding: 10px 20px;
        color: black;
        text-decoration: none;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-family: math;
        font-weight: bold;
        z-index: 1;
    }
}